<div class="container">
    <div class="row">
        <div class="footer-col">
            <h4>Site Menu</h4>
            <ul>
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="aboutUs">about us</a></li>
                <li><a routerLink="">Our projects and programs</a></li>
                <li><a href="">Marketplace</a></li>
                <li><a routerLink="">Resources</a></li>
                <li><a routerLink="">Feedback</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Contact</h4>
            <ul>
                <li><p>Phone Number:</p></li>
                <li><a cl>54471015</a></li>
                <li><p>E-mail:</p></li>
                <li><a class="">harouking63@gmail.com</a></li>
            </ul>
        </div>
        <div class="footer-col">
        </div>
        <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <p class="copyright">© Coordination Nationale Interact Tunisie (CNIT). All Rights Reserved. Build by Haroun Rhim.</p>
        </div>
    </div>
</div>
