<app-header></app-header>

<div class="hero-container">
    <img class="hero" src="./../../assets/images/hero.png" alt="" >
    <div class="overlay">
        <p class="slogan">" Let's change the future <br>together "</p>
        <h3>Join us in our mission to make a lasting and positive impact in our community.</h3>
        <a href="https://www.example.com" class="border-button">Your Gift, Their Future</a>
    </div>
</div>
<div class="containerPresontationGenerale">
    <div class="box">
        <h2>Welcome to the CNIT</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ut cum natus asperiores rerum nobis modi dolores voluptatum aspernatur praesentium, fuga soluta dolorem iste velit sed alias a porro qui!
        Quasi provident, totam suscipit atque nam fugit rem, numquam aliquam odit consequuntur, neque alias. Sunt, fuga voluptatibus. Officiis dolorem tempora, sunt beatae quidem iusto tenetur, saepe minima itaque id dolores.</p>
    </div>
</div>
<div class="actualisé">
    <div>
        <p class="titreactualités">Actualités recentes</p>
    </div>
    <div class="actualisébox">
        <button class="nav-button" id="prev-button">Précédent</button>
        <div class="news-image" id="left-image">
            <img src="./../../assets/images/2161370.jpg" alt="News 1" width="300">
        </div>
        <div class="news-image" id="center-image">
            <img src="./../../assets/images/2161370.jpg" alt="News 2" width="300">
        </div>
        <div class="news-image" id="right-image">
            <img src="./../../assets/images/2161370.jpg" alt="News 3" width="300">
        </div>
        <button class="nav-button" id="next-button">Suivant</button>
    </div>
</div>
<div>
    <p class="titreActionAvenir">actions à venir</p>
    <div class="allimgsavenir">
        <div>
            <img src="./../../assets/images/2161370.jpg" alt="News 1" width="300">
        </div>
        <div class="2smallimgs">
            <img src="./../../assets/images/2161370.jpg" alt="News 2" width="300">
            <img src="./../../assets/images/2161370.jpg" alt="News 3" width="300">
        </div>
    </div>
</div>



<app-footer></app-footer>

